body{
margin: 0px;
    padding: 0px;
}
table { /*Скрипт относительно таблицы*/

    border-collapse:collapse; /*Убираем двойные линии между ячейками таблицы*/
    background-color:white; /*Задает#ffcc33 таблице фоновое изображение, если при заданном фоне для всей таблицы, задать фон для ряда или ячейки, тогда этот ряд или ячейка будут иметь фон отличный от всей таблицы*/
    border-width:3px; /*Толщина рамки таблицы в пикселях*/
    border-style:solid; /*Рамка таблицы сплошная*/
    border-color:#000000; /*Цвет рамки таблицы*/
    width: 100%;
}
td { /*Скрипт относительно ячейки таблицы*/
    border:1px solid black; /*Рамка у ячейки таблицы сплошная*/
    text-align: center;
    font-size: 18px;
}

button{
padding: 2px 10px 2px 10px;

    font-size: 18px;
    margin: 10px 10px 10px 0px ;
    background-color: #26a69a;
    color: #fff;


}

select
{
    font-size: 20px;
    width: 150px;
    text-align: center;
    color: red;

}

tr:hover{background: yellow;
}

.header_button{
position: center;
    width: 100%;
}

.header{
    position: relative;
    font-family: sans-serif;
    font-size: 35px;
    color: black;
    text-align: center;
}


#show {
    margin: auto;
    overflow: auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 900px;
    overflow: scroll;
    margin: 5px 0px 0px 0px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px black;

}


.tel_tex {
    position: absolute;
    top: 380px;
    left: 50%;
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: yellow;
}


.modal {

    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    background: url(https://firebasestorage.googleapis.com/v0/b/st-otdih.appspot.com/o/coffy.png?alt=media&token=9e6374d5-f213-4ce0-9644-13e9c9e70302);
    background-size: cover;
    background-position: center;
    z-index: 1;

}

.modal_text {
   display: block;
    position: relative;
    left: 35%;
    top:15%;
    z-index: 5;
    justify-content: center;
    width: 350px;
    height: 400px;
    background: transparent;
    border-radius:30px;
    box-shadow: 20px 20px 50px 5px rgba(0,0,0,1); /* Параметры тени */


}

.f_log{
    position: absolute;
    left: 30%;

}

img { width: 150px;
    height: 150px;
    border-radius: 90px;
    object-fit: cover;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
}



.key_ok .key_cancel {
    border: none;
}




.input_id{

    outline: 0;
    outline-offset: 0;
    border-radius: 30px;
    width: 280px;
    display: flex;
    justify-content: center;
    margin: 17px;
    position: relative;
    top: 198px;
    font-size: 25px;
    text-align: center;




}

.button_login{
    position: relative;
    text-align: center;
    top:216px;
    margin: 10px 0px 0px 10px;
}
.bot_login{
    font-size: 20px;
    width: 250px;
    height: 50px;
    border: 0px;
    border-radius: 30px;

    background: #686e80;
}







