



@media (max-width: 900px) {

    .input_id {
        width: 300px;


    }

    .modal_text {

        left: 5%;
        top: 15%;

        width: 350px;
        height: 400px;


    }

}






