



@media (max-width: 768px){

    .input_id{
        width: 300px;



    }

    .modal_text {

        left: 15%;
        top:15%;

        width: 350px;
        height: 400px;


}








